table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    text-align: center;
    color: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #424769;
}
