.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  background: rgb(111, 42, 42);
  color: white;      
  padding: 1.5rem;
  border-radius: 8px;
  width: 350px;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

input, select {
  width: 100%;
  padding: 0.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.modal-error {
  color: #ff6b6b;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #ffe5e5;
  padding: 0.5rem;
  border-radius: 6px;
}